<!DOCTYPE html>
<html>
<%include partial/head.ejs%>

    <body>
        <%include partial/navbar.ejs%>
            <a href="/transactions/pulsa">Pulsa</a>
            <a href="/transactions/pln">PLN</a>
            <a href="/transactions/paketdata">Paket Data</a>

            <div class="table">
                <h3>Transactions</h3>
                <table class="main-table">
                    <tr>
                        <th>No</th>
                        <th>ID Transaksi</th>
                        <th>Tanggal</th>
                        <th>Phone</th>
                        <th>Total</th>
                        <th>Status</th>

                    </tr>
                    <% products.forEach(function(product, index) {%>
                        <tr>
                            <td>
                                <%= index+1%>
                            </td>
                            <td>
                                <%=product.nota%>
                            </td>
                            <td>
                                <%=product.createdAt%>
                            </td>


                            <% product.UserProducts.forEach(function(userproduct){ %>
                                <td>
                                    <%=userproduct.phone%>
                                </td>
                                <%})%>
                                    <td>
                                        <%=product.total%>
                                    </td>
                                    <td>
                                        <%=product.status%>
                                    </td>
                        </tr>
                        <%})%>
                </table>



    </body>

</html>