<!DOCTYPE html>
<html>
<%include partial/head.ejs%>

  <body>
    <%include partial/navbar.ejs%>
    <%include partial/dashboard.ejs%>
    <div class="table">
      <table class="main-table">
        <h3>Daftar Produk</h3>
        <p><a href="/products/add">Tambah Produk</a></p>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Provider</th>
          <th>Nominal</th>
          <th>Tipe Produk</th>
          <th>Opsi</th>
        </tr>
        <%products.forEach((product,i)=>{%>
          <tr>
            <td><%=i+1%></td>
            <td><%=product.productName%></td>
            <td><%=product.provider%></td>
            <td><%=product.nominal%></td>
            <td><%=product.productType%></td>
            <td>
              <a href="/products/edit/<%=product.id%>"><i class="material-icons">mode_edit</i></a>
              <a href="/products/delete/<%=product.id%>"><i class="material-icons">delete_forever</i></a>
            </td>
          </tr>
          <%})%>
        </table>
    </div>
  </body>

</html>
