<!DOCTYPE html>
<html>
  <%include partial/head.ejs%>
  <body>
    <%include partial/navbar.ejs%>
    <%include partial/dashboard.ejs%>
    <div class="form">
      <form class="login-form" action="/products/edit/<%=product.id%>" method="post">
        <input type="text" name="productName" placeholder="Nama Product" value="<%=product.productName%>">
        <input type="text" name="nominal" placeholder="Nominal" value="<%=product.nominal%>">
        <input type="text" name="price" placeholder="Harga" value="<%=product.price%>">
        <input type="text" name="provider" placeholder="Provider" value="<%=product.provider%>">
        <input type="text" name="productType" placeholder="Tipe Produk" value="<%=product.productType%>">
        <button>Simpan</button>
      </form>
    </div>
  </body>
</html>
