<!DOCTYPE html>
<html>
<%include partial/head.ejs%>

  <body>
    <%include partial/navbar.ejs%>
    <%include partial/dashboard.ejs%>
    <div class="table">
      <table class="main-table">
        <h3>Daftar Produk</h3>
        <tr>
          <th>Nama</th>
          <th>Provider</th>
          <th>Nominal</th>
          <th>Tipe Produk</th>
          <th>Opsi</th>
        </tr>
        <%products.forEach(product=>{%>
          <tr>
            <td><%=product.productName%></td>
            <td><%=product.provider%></td>
            <td><%=product.nominal%></td>
            <td><%=product.productType%></td>
            <td>
              <a href="/products/edit/product.id">edit</a>
              <a href="/products/delete/product.id">delete</a>
            </td>
          </tr>
          <%})%>
        </table>
    </div>
      <a href="/products/add">add product</a>
      <%=userId%>
        <a href="/transactions/<%=userId%>">Transaction</a>
  </body>

</html>
