<!DOCTYPE html>
<html>
<%include partial/head.ejs%>

    <body>
        <%include partial/navbar.ejs%>
            <%include partial/dashboard.ejs%>
            <a href="/sales">History Penjualan</a>
                <div class="table">

                    <table class="main-table">
                        <h3>Penjualan</h3>
                        <tr>
                            <th>Nama Brand</th>
                            <th>Jenis Product</th>
                            <th>Tipe Product</th>
                            <th>Transaksi</th>
                            <th>Total</th>
                        </tr>
                        <%sales.forEach(data=>{%>
                            <tr>
                                <td>
                                    <%=data.provider%>
                                </td>
                                <td>
                                    <%=data.productName%>
                                </td>
                                <td>
                                    <%=data.productType%>
                                </td>
                                <td>
                                    <ol>
                                        <% data.UserProducts.forEach((hasil)=> { %>
                                            <li>
                                                <%= hasil.Transaction.nota%>

                                            </li>
                                            <%}) %>

                                    </ol>
                                </td>
                                <% let jumlah = 0; 
                                data.UserProducts.forEach((hasil)=> {
                                    jumlah +=Number(hasil.Transaction.total)
                                    }) %>
                                    <td>
                                        <%= jumlah%>
                                    </td>


                            </tr>
                            <%})%>
                    </table>
                </div>
    </body>

</html>