<!DOCTYPE html>
<html>
<%include partial/head.ejs%>

    <body>
        <%include partial/navbar.ejs%>
            <div class="form">
                <form class="register-form" action="/users/edit/<%=dataUser.id%>" method="POST">
                    <input type="text" name="name" value="<%=dataUser.name%>" placeholder="Nama Lengkap" />
                    <input type="text" name="username" value="<%=dataUser.username%>" placeholder="Username" />
                    <input type="password" name="password" value="<%=dataUser.password%>" placeholder="Password" />
                    <input style="display:none" type="password" name="salt" value="<%=dataUser.salt%>" placeholder="Password" />
                    <button>Save</button>

                </form>
            </div>
    </body>

</html>