<!DOCTYPE html>
<html>
<%include partial/head.ejs%>

    <body>
      <%include partial/navbar.ejs%>
        <%include partial/dashboard.ejs%>

            <div>
                <table class="main-table">
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th colspan="2">Action</th>

                    </tr>
                    <% let no=0;
                    dataUser.forEach(function(user, index) {
                        if(user.role == 'admin') {%>
                        <tr>
                            <td>
                                <%=++no%>
                            </td>
                            <td>
                                <%=user.id%>
                            </td>
                            <td>
                                <%=user.name%>
                            </td>
                            <td>
                                <%=user.username%>
                            </td>
                            <td>
                                <%=user.password%>
                            </td>
                            <td>
                                <%=user.role%>
                            </td>
                            <td>
                                <a href="/users/edit/<%=user.id%>">Edit</a>
                            </td>
                            <td>
                                <a href="/users/delete/<%=user.id%>">Delete</a>
                            </td>
                        </tr>
                        <%}})%>
                </table>
            </div>
            <a href="/users/signup">Add Admin</a>

            <div >
                <table class="main-table">
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Role</th>

                    </tr>
                    <% let i=0;
                    dataUser.forEach(function(user, index) {
                        if(user.role == 'customer') {%>
                        <tr>
                            <td>
                                <%=++i%>
                            </td>
                            <td>
                                <%=user.id%>
                            </td>
                            <td>
                                <%=user.name%>
                            </td>
                            <td>
                                <%=user.username%>
                            </td>
                            <td>
                                <%=user.password%>
                            </td>
                            <td>
                                <%=user.role%>
                            </td>
                        </tr>
                        <%}})%>
                </table>
            </div>

    </body>

</html>
